<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			Votre nouveau mot de passe sur le site "lessoeurstheiere.com"
		</td>
	</tr>
	
	<!-- Contenu du mail proprement dit -->
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0">
    			<tbody>
    				<tr>
    					<td>
    						Bonjour {{ user }},<br>
    						Vous avez demandé la réinitialisation de votre mot de passe sur le site des Soeurs Théière.<br>
    						Votre nouveau mot de passe est le suivant :<br>
    						<strong>{{ password }}</strong><br>
    						Changez ce dernier après vous être reconnecté sur notre site.<br>
    					</td>
    				</tr>
    			</tbody>
			</table>
		</td>
	</tr>
</table>